<html>

<head>
<title> Art1 - Leds </title>
</head>

<body>

<div> <!-- LEDs -->
<h2>Play with LED's</h2>
<p>Here you can turn on/off LED's connected to the Raspberry PI. </p>
Green:
<p>
<input type="button" id="green_on"  value="ON">
<input type="button" id="green_off" value="OFF">
</p>
Red:
<p>
<input type="button" id="red_on"  value="ON">
<input type="button" id="red_off" value="OFF">
</p>
</div>
<hr>
Websocket status:
<br>
<div id="ws-status"> Waiting... </div>

<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ static_url("ws-client.js") }}"></script>

</body>

</html>
